body{
	background-image: url('citystreet.jpg')
}

h1{
	text-align:center;
    font-size:60pt; 
	font-style:oblique; 
	font-family:garamond; 
	color:#D63B3B
}

h2{ color:rgba(133, 33, 128, 1);
  text-align:center;      
}

a.btn-success {
	background-color:#db2367 !important;
	border-color:#db2367 !important;
}

#city-planning-logo{
	float: right;
	margin-right:30px;
	width:200px;
}

#content{
	background-color: white;
}

#notify-overlay{
	display:none;
	position:absolute;
	top:200px;
	margin-left:50px;
	width:600px;
	height:300px;
	background-color:#db2367;
	padding:10px;
	border:1px solid black;
	border-radius:10px;
}

#notify-overlay p{
	font-size:20pt;
	color: white;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

.logo {
    width: 100%;
    height: 100%;
}

.jumbotron {
    width: 100%;
    height: 100%;        
}

.page-title{
	font-size:60pt; 
	font-style:oblique; 
	font-family:garamond; 
	color:#D63B3B
}

.header-logo{
	width:125px;
}
