<div class="page-header"> 
   <h1 align="center" style="font-family:garamond"> About Power Up</h1> 
   </div>

<div class="page-header"> 
   <h2><u>Background Story</u></h2> 
   </div>

<body bgcolor="">

<p></p>

   text-indent: 20px;

   <p> Our group chose to visit Jerome Avenue in the Bronx, where we interviewed a young woman named Jenni at the corner of University and Burnside Avenue. Jenni is a college student at Bronx Community College who works at a local daycare afterschool. Not only did Jenni share her fear of walking alone in the neighborhood (especially when it gets dark), but she also explained to us how scary it is to be a woman in this area alone.She also mentioned that the area gets really dark at night. Jenni noticed a lot of drug activity, street violence, and harassment when she was out and about on Jerome. We could all tell, through the tone of her voice and the way she explained the situation to us, that she knew women who have experienced circumstances like this one. It is our goal to make women feel welcome and safe in their everyday lives. The intended users of our app and safety glasses combination will be women in the Jerome Avenue community.

We hope to create a webapp to help people like Jenni feel safer in their neighborhoods. Our app will include functionality that Jenni can use to report to the city and other users. This functionality will include a heat map, links to city authorities, crime data, and other useful information. After we put our idea into action, we hope to create a gateway to betterment for women who live and travel through Jerome Avenue. There is a consistent feeling of negativity and fear that we have seen sparked in the women of Jerome Avenue. Within a community of single mothers, college women, elderly, and numerous other people, we intend to reduce the amount of crime that goes unreported and reduce the number of women feeling threatened on Jerome Ave.
 <code></code><code></code><code></code></p> 
 
 <div class="page-header"> 
   <h2><u>Functionality</u></h2> 
   </div>



   <p class="lead">The system will provide direct contact to the authorities if they feel in danger by pressing an alert button on the side of the safety glasses.</code><code></code><code></code></p>
 
   <p class="lead">The system will allow women to also snap a picture of an attacker or dangerous provide reassurance to the woman using it through instant update onto the apps feed when she uses the camera, the alert button, or wants to write something in regards to the area activities that she sees in front of her.

   <p class="lead">The system will allow only the user who purchased the glasses to use them through a retina scanner.

   <p class="lead">The system will show the user a heat map where the most activity happens, as well as the locations of other users and where police are in the area.

   <p class="lead">The system will provide reassurance to the woman using it through instant update onto the apps feed when she uses the camera, the alert button, or wants to write something in regards to the area.
