{% extends "base.html" %}
{% block body %}

<div class="page-header"> 
   <h1 class="page-title"> About </h1> 
   </div>

<div class="page-header"> 
   <h2>Background Story</h2> 
   </div>


<p></p>



<p> Our group visited Jerome Avenue in the Bronx where we interviewed a young woman named Jenni at the corner of University and Burnside Avenue. Jenni is a college student at Bronx Community College who works at a local daycare afterschool. Not only did Jenni share her fear of walking alone in the neighborhood (especially when it gets dark), but she also explained to us how scary it is to be a woman in this area alone. Jenni noticed a lot of prevalent drug activity, street violence, and harassment when she was out and about in Jerome. We could all tell through the tone of her voice and the way she explained the situation to us that she knew women who have experienced circumstances like this one. The intended users of our app and safety glasses combination will be these women that reside in the Jerome Avenue community, who we aspire to create a safe environment for. </p>

<p> Our app includes the ability to report to the city and other users you have friended on the app. This is manifested through functinalities like a heat map, links to city authorities, crime data, and other useful information. There is a consistent feeling of negativity and fear that we have seen sparked in the women of Jerome Avenue, that within a community of single mothers, college women, elderly, and numerous other people, we intend to try and reduce the amount of crime that goes unreported and the number of women feeling threatened on Jerome Ave. </p> 
 
 <div class="page-header"> 
   <h2>Functionality</h2> 
   </div>

  <ul style="padding-left:0px;">
   <li>The system will provide direct contact to the authorities if they feel in danger by pressing an alert button on the side of the safety glasses.</li>
 
   <li>The system will allow women to also snap a picture of an attacker or dangerous situation to provide reassurance to the woman using it through instant update onto the apps feed when she uses the camera, the alert button, or wants to write something in regards to the area that she sees in front of her. </li>

   <li>The system will allow only the user who purchased the glasses to use them through a retina scanner. </li>

   <li>The system will show the user a heat map where the most activity happens, as well as the locations of other users and where police are in the area. </li>

   <li>The system will provide reassurance to the woman using it through instant update onto the apps feed when she uses the camera, the alert button, or wants to write something in regards to the area.</li> 
  </ul>

{% endblock %}

