{% block title %}Home{% endblock %}
{% block content %}

<body bgcolor="#FFDCEA">

<div class="page-header">
  <h1 align="center" style="font-size:60pt; font-style:oblique; font-family:garamond; color:#D63B3B"> <b> Alert Button Page</b></h1>
  </div>

<p align="center" style="font-size:12pt; font-family:sans-serif; font-variant:small-caps; font-style:italic; color:#F38470"> <b> <br> This page on the application gives the user access to numerous buttons that <br> aid her in finding safety, feeling safe, and reporting safe spaces. </b> 

</p>
  <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>

<!-- The Meet Me button leads you to the heatmap page where you can view the users nearby. The user who presses this button then can contact other users she sees locally to meet up for a safer feeling to her destination.

The Emergency button picks up your location via gps installed both in the glasses and on the application. When you hit this button the authorities and/or 911 will be contacted and help will be on the way, regardless of your specific situation. In an emergency, you can take pictures or videos with the camera located on the opposite side of the camera on the glasses. In the state of an emergency a pin is dropped on our map where you can view incidents, locations of incidents, and the time or day of the incident.

The Follow Me button logs the users location as she moves. This is a comforting part of the app that allows you to notify others and let them know that you are feeling particularly unsafe in that moment. An option is to send your gps location to specific contacts that you trust most.

The Report button sends you to the Report Form page where you can file incidents and reviews.

The 311 button dials 311 for you.-->
  
  {% endblock %}
