<div class="page-header">
  <h1 align="center" style="font-size:50pt; font-family:garamond; font-color:#FF0000"> <i><b> The Alert Button Page</b></i></h1>
</div>

  <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>

<form action = "{{ url_for('alert_handler') }}" method = "POST">
    <h3>Submit Alert</h3>
    Name<br>
    <input type = "text" name = "name"/></br>

    Time<br>
    <input type = "text" name= "time"/><br>


    Location<br>
    <input type = "text" name = "location"/><br>
    <input type = "submit" value = "submit" /><br>
</form>
