{% extends "base.html" %}
{% block body %}

<div class="jumbotron">
    <img src="static/logo.png" class="logo">
    <p> <i>"Where women unite to form a safer community" </i> </p>
</div>

<p align="center"><a class="btn btn-lg btn-success" href="showSignIn" role="button">Sign in</a>
	<a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up</a></p>

<div>
    <h2> How it Works
    <div class="container">
        <div class="column-center"> 
            <h5> Start for FREE. Download the app in the Apple Store or Google Play Store. </h5>
        </div>
        
        <div class="column-left"> 
            <h5> As soon as you download the app, a pair of safety glasses will be sent to you immediately! Glasses include a built in GPS, camera & virtual map, in order to keep you safe! </h5>
        </div>
        
        <div class="column-right"> 
            <h5> Stay Connected! Keep track of local authorities & other users in the area. Also, keep an updated live feed, from both users & City Planning responses. </h5>
        </div>
    </div>
</div>

{% endblock %}

