{% extends "base.html" %}
{% block body %}
<style>
#loc-input {
    width:250px;
}
</style>
	<h1 align="center"><title>Power Up!</title></u></h1>
	<p>
	<h1 align="center">Report Form</h1>
	</p>
	<p>
	<form id="report-form" action="{{ url_for('alert_handler') }}" method="POST">
		<div><h4 align="left">Name</h4></div>
		<input type="text" name="name">
		
		<div><h4 align="left">Add Photo/Video</h4></div>
		<input type="file" name="pic" accept="image/*">
		
		<div><h4 align="left">Add Location</h4></div>
		<input type="text" id="loc-input" align="left"></input>

		<input style="display:none" type="text" id="lat-input"></input>
		<input style="display:none" type="text" id="long-input"></input>
    	<script>
    	function initAutocomplete(){
			var input = document.getElementById('loc-input');
			var searchBox = new google.maps.places.Autocomplete(input);
		}

		document.getElementById('report-form').onsubmit = function() {
			event.preventDefault();
		    var loc = document.getElementById('loc-input');
		    var address = loc.value.replace(/\s/g, '+');
		    var geocoder = new google.maps.Geocoder();
		    geocoder.geocode( { 'address': address}, function(results, status) {
		    	if(status === "OK"){
		    		document.getElementById('long-input').value = results[0].geometry.location.lng();
		    		document.getElementById('lat-input').value = results[0].geometry.location.lat();
		    	}
		    	else{
		    		alert("Please enter a valid address.");
		    	}
		    });
		    // https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyAXSnC5gYjlhE5WAsccj7vsdw0Td8DEpHI
		};
		</script>
		
		<div align="center">
			<div><h3 align="center">Description</h3></div>
			<textarea rows="8" cols="80" align="center"></textarea>
		</div>
		<div>
			<label for="report-anonymously" align="center">Report Anonymously</label>
			<input type="checkbox" id="report-anonymously" align="center" class="form-check-input">
		</div>
		<div align="center" style="font-size:30pt">&#128516; &#128534; &#128528; 
		<br>
		<input type="submit"></input>
		</div>
	</form>
	</p>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXSnC5gYjlhE5WAsccj7vsdw0Td8DEpHI&libraries=places&callback=initAutocomplete" async defer></script>

{% endblock %}
