<html>  
	<body>
	<h1 align="center"><title>Power Up!</title></u></h1>
	<p>
	<h1 align="center">Report Form</h1>
	</p>
	<p>
	<textarea rows="1" cols="50"></textarea > <div><h4 align="right">Add Photo/Video</h4></div>
	<textarea rows="1" cols="50"><div><h4 align="right">{Add Location}</h4></div></textarea>
	<textarea rows="1" cols="50"><div><h4 align="right">{Tag Users}</h4></div></textarea>
	<textarea rows="1" cols="50"><div><h4 align="left">{Report Anonymously}</h4></div></textarea>
	<textarea rows="1" cols="50"><div><h4 align="left">{Send to Public Feed}</h4></div></textarea>
	<div><h4 align="center">Description</h4></div>
	</p>
	</body>
</html>
